	<div class="ui main text container segment">
		<div class="ui huge header">New Employee</div>
		<form novalidate class="ui form">
			<div class="field">
				<label>Name</label>
				<input type="text" ng-model="employee.name" placeholder="Name" required=""> 
			</div>
			<div class="field">
				<label>Image</label>
				<input type="text" ng-model="employee.image" placeholder="Image">
			</div>
			<div class="field">
				<label>Title</label>
				<input type="text" ng-model="employee.title" placeholder="Title" required="required">
			</div>
			<div class="field">
				<label>Sex</label>
				<select class="ui dropdown" ng-model="employee.sex" required="">
					<option value="">Gender</option>
					<option value="1">Male</option>
					<option value="0">Female</option>
				</select>
			</div>

			<div class="field">
				<label>OfficePhone</label>
				<input type="text" ng-model="employee.OfficePhone" placeholder="OfficePhone" required="">
			</div>
			<div class="field">
				<label>CellPhone</label>
				<input type="text" ng-model="employee.cellPhone" placeholder="CellPhone">
			</div>
			<div class="field">
				<label>SMS</label>
				<input type="text" ng-model="employee.SMS" placeholder="SMS">
			</div>
			<div class="field">
				<label>Email</label>
				<input type="email" ng-model="employee.Email" placeholder="Email" required="">
			</div>
			<div class="field">
				<label>Manager</label>
				<select class="ui dropdown" ng-model="employee.Manager">
					<option value="">Please select a manager</option>
					<option value="manager._id" ng-repeat="manager in managers" >{{manager.name}}</option>
				</select>
				<!-- <input type="text" ng-model="employee.Manager" placeholder="Manager"> -->
			</div>
			<input class="ui inverted black button active" type="submit" ng-click="add(employee)">
		</form>
	</div>